@page "/WeatherPage"
@using DataLibrary.Model;

@if (AllData != null && Items != null)
{
    <Select Color="Color.Primary" Items="@Items" @bind-Value="@SWeatherType"></Select>
    <Table TItem="Location" IsStriped="true" IsBordered="true" Items="AllData">
        <TableColumns>
            <TableColumn Text="縣市" @bind-Field="@context.locationName" />
        </TableColumns>
        <DetailRowTemplate>
            @{
                var datasource = GetWeatherElement(context.weatherElement, SWeatherType);
            }
            <WeatherPartView Times="@datasource.time"></WeatherPartView>
        </DetailRowTemplate>
    </Table>
}


